<div class="time">
  <div class="timeButtons">
    <i class="fa fa-pause fa-lg" ng-click="stopTime()">Pause</i>
    <i class="fa fa-play fa-lg" ng-click="startTime(100)">Play</i>
    <i class="fa fa-forward fa-lg" ng-click="startTime(50)">Forward</i>
    <i class="fa fa-fast-forward fa-lg" ng-click="startTime(20)">Fast Forward</i>
  </div>
  <div class="calendar">
    <span class="binds"></span>
    <h4 class="year">{{time.year}}</h4>
    <span class="month">{{time.monthlist[time.month]}}</span>
    <h1 class="date">{{time.day}}</h1>
  </div>
</div>