<!DOCTYPE html>
<html ng-app="lets-rule">
<head>
  <script src="js/leaflet.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-leaflet-directive.min.js"></script>
  <script src="js/timeCtrl.js"></script>
  <script src="js/app.js"></script>
  <script src="js/GR.geo.json.js"></script>
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="css/font-awesome-4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/leaflet.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="mapCtrl">
  <div class="ui-top-left">
    <!-- <h1>Map bounds example</h1>
    <h2>South west</h2>
    <form>
        Lat : <input type="number" step="any" ng-model="bounds.southWest.lat" />
        Lng : <input type="number" step="any" ng-model="bounds.southWest.lng" />
    </form>

    <h2>North east</h2>
    <form>
        Lat : <input type="number" step="any" ng-model="bounds.northEast.lat" />
        Lng : <input type="number" step="any" ng-model="bounds.northEast.lng" />
    </form>
    <h2>Center</h2>
    <form>
      Lat : <input type="number" step="any" ng-model="center.lat" />
        Lng : <input type="number" step="any" ng-model="center.lng" /> -->
  </div>
  <div class="ui-top-right">
    <time-control></time-control>
  </div>
  <div class="ui-bottom-left">
    <div ng-show="geojson.selected" class="info country f32">
        <!-- <div ng-show="geojson.selected" class="flag" ng-class="countries[geojson.selected.id]['alpha-2']|lowercase"></div> -->
        {{ geojson.selected.properties.name || ''}}
    </div>
  </div>
  <div class="ui-bottom-right">
  </div>
  <div class="ui-center">
    
  </div>

  <leaflet id="leaf" bounds="bounds" center="center" geojson="geojson" maxbounds="maxbounds" defaults="defaults"> </leaflet>
</body>
</html>