<div class="tabs" ng-init="active = 1">
  <a href="#" ng-click = "active = 1" ng-class="{active:active == 1}">General information</a>
  <a href="#" ng-click = "active = 2" ng-class="{active:active == 2}">Economical data</a>
  <a href="#" ng-click = "active = 3" ng-class="{active:active == 3}">Employment</a>
  <a href="#" ng-click = "active = 4" ng-class="{active:active == 4}">Needs</a>
  <a href="#" ng-click = "active = 5" ng-class="{active:active == 5}">Other</a>

</div>
<div ng-switch on= "active">
  <h1>{{content.data.poptype}}s of <a href="#" ng-click="render({content_type:'city',data:content.data._parent})">{{content.data.location}}</a></h1>
  <div ng-switch-when="1">
    <span>Total size : {{content.data.amount}}</span>
  </div>
  <div ng-switch-when="2">
    <ul class = "pops">Economical data:
      <li>Income: {{content.data.economy.income}}</li>
      <li>Expenses: {{content.data.economy.expenses}}</li>
      <li>Savings: {{content.data.economy.savings}}</li>
    </ul>
  </div>
</div>